
<% layout("layouts/boilerplate") -%>

<div class="alert alert-danger d-flex mx-auto mt-5 text-center flex-column" role="alert">
    <p class="fw-medium fs-4 fw-medium"> Status Code : <%= statusCode %></p>
    <p class="fw-medium fs-4">Error : <%= errMsg %></p> 
  </div>