
<div class="card text-center bg-body-tertiary">
  <div class="card-body">
    <!-- Social Media Links -->
    <div class="text-center">
      <!-- Facebook -->
      <a 
        href="https://www.facebook.com/AirbnbIndia" 
        class="fs-4 m-1 btn btn-outline-primary border-0 rounded-circle"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <!-- Instagram -->
      <a 
        href="https://www.instagram.com/airbnb/" 
        class="fs-4 m-1 btn btn-outline-danger border-0 rounded-circle"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <!-- Twitter (X) -->
      <a 
        href="https://x.com/airbnb_in" 
        class="fs-4 m-1 btn btn-outline-dark border-0 rounded-circle"
      >
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>

    <!-- Footer Text -->
    <p class="card-text">
      © NestAway Private Limited
    </p>
    <!-- Privacy Terms Link -->
    <a 
      class="card-text btn text-primary" 
      href="https://www.airbnb.co.in/help/article/2908"
    >
      Privacy Terms
    </a>
  </div>
</div>
